checkpoint/
*.pyc
__pycache__
*.jpeg
*.JPEG
*.png
*.xml
*.ckpt
*.csv
git-filter-repo.py
dataloader_debug1.py
datasets/Tiny-ImageNet
datasets/CIFAR100
datasets/UCF101
datasets/Kinetics200
models/CLIP/
pretrained_weight/
comet_logs/
.DS_Store
._.DS_Store
.hypothesis/
